0
.gsd-keyboard.settings-ported
appimagelauncher.cfg
applord GmbH/
applord gmbh/
autostart/
balena-etcher/
cni/
dconf/
Debauchee/
Dharkael/
dleyna-renderer-service.conf
dleyna-server-service.conf
ecodms GmbH/
ecoDMS GmbH/
enchant/
eog/
evince/
evolution/
fastfetch/
Ferdium/
filezilla/
freerdp/
gedit/
GIMP/
gnome-control-center/
gnome-session/
goa-1.0/
gtk-4.0-back/
htop/
ibus/
libreoffice/
Microsoft/
microsoft-edge/
Microsoft Teams - Preview/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
OpenToonz/
opsi/
pavucontrol.ini
procps/
pulse/
QtProject.conf
Raspberry Pi/
README.md
remmina/
shell_gpt/
smiteworks/
sqlitebrowser/
synergy/
Synergy/
systemd/
teams/
tiling-assistant/
totem/
touchegg/
unity3d/
update-notifier/
user-dirs.dirs
user-dirs.locale
vlc/
warp-terminal/
yelp/
YouTube Music/
Yubico/
